@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat-regular.woff2"), url("../assets/fonts/montserrat-regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat-bold.woff2"), url("../assets/fonts/montserrat-bold.woff");
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: rgba(31, 32, 62, 0.5);
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/************************************header**********************************/

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;
}

.header__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 20px;
}

.header__item {
    font-size: 14px;
    line-height: 17px;
}

.header-arrow {
    position: relative;
    margin-right: 15px;
}

.header-arrow:before {
    content: url("../assets/images/svg/nav-arrow.svg");
    position: absolute;
    top: 1px;
    right: -15px;
}

.button-login {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #bc9cff;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid #bc9cff;
    border-radius: 22px;
}

.button-login:hover {
    background: #bc9cff;
    color: #ffffff;
}

.button-registration {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid #bc9cff;
    border-radius: 22px;
    background: #bc9cff;
}

.button-registration:hover {
    background: #ffffff;
    color: #bc9cff;
}

/***************************main***************************/

.main__hotel {
    position: relative;
}

.main__hotel-bg {
    min-height: 900px;
    background: url("../assets/images/jpg/hotel-bg.jpg") no-repeat;
    background-size: cover;
}

.main__hotel-caption {
    position: absolute;
    right: 120px;
    bottom: 18px;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    max-width: 297px;
}

.main__form {
    position: absolute;
    border-radius: 4px;
    top: 70px;
    left: 140px;
    z-index: 1;
    width: 380px;
    height: 374px;
    background: #fff;
    padding: 40px 30px 30px 30px;
}

.main__form-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #1f2041;
    margin-bottom: 20px;
}

.main__form-top {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.main__form-arrival-label {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #1f2041;
    text-transform: uppercase;
}

.main__form-departure-label {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #1f2041;
    text-transform: uppercase;
}

.main__form-arrival {
    font-family: Montserrat, Arial, sans-serif;
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 62, 0.25);
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 62, 0.75);
    margin-top: 5px;
    padding: 0 15px;
    text-transform: uppercase;
    background-image: url("../assets/images/svg/nav-arrow.svg");
    background-position: 120px 18px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.main__form-departure {
    font-family: Montserrat, Arial, sans-serif;
    width: 150px;
    height: 44px;
    border: 1px solid rgba(31, 32, 62, 0.25);
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 62, 0.75);
    margin-top: 5px;
    padding: 0 15px;
    text-transform: uppercase;
    background-image: url("../assets/images/svg/nav-arrow.svg");
    background-position: 120px 18px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.main__form-select-label {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #1f2041;
    text-transform: uppercase;
}

.main__form-list {
    width: 320px;
    height: 44px;
    border: 1px solid rgba(31, 32, 62, 0.25);
    border-radius: 4px;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 62, 0.75);
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0 15px;
    background: url("../assets/images/svg/nav-arrow.svg") no-repeat;
    background-position: 288px 18px;
    cursor: pointer;
}

.active-list {
    display: none;
}

.list-flex {
    display: flex;
}

.minus1, .minus2 {
    display: inline-block;
    border: 1px solid #1f2041;
    border-radius: 22px;
    background: #ffffff;
    padding: 15px 20px;
    cursor: pointer;
}

.incr {
    border: 1px solid #bc9cff;
}

.plus1, .plus2 {
    display: inline-block;
    border: 1px solid #1f2041;
    border-radius: 22px;
    background: #ffffff;
    padding: 15px 20px;
    cursor: pointer;
}
.decr {
    border: 1px solid #bc9cff;
}

.main__form-button {
    display: inline-block;
    width: 320px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 20px;
    border: 2px solid #bc9cff;
    border-radius: 22px;
    background: #bc9cff;
    text-align: center;
}

.main__form-button:hover {
    color: #bc9cff;
    background: #ffffff;
}

/**************************calendar****************************/

.main__form-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(31, 32, 62, 0.25);
    border-radius: 4px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1;
    background: #ffffff;
    width: 320px;
    min-height: 369px;
    padding: 20px;
}


.main__form-year-month {
    font-size: 19px;
    color: #1f2041;
    font-weight: 700;
    line-height: 23px;
}

.hide-calendar {
    display: none;
}



/***********************************************************/





